body {
  /* background-color: #B9D6F2; */
  background-color: #d1e4f6;
}

/* Main*/
.main_container {
  width: 80%;
  margin: 0 auto;
}
.main_title {
  color: black;
  text-align: center;
}
/* NavBar*/

.nav_bar_container {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #0353a4;
}

.nav-link-container {
  display: flex;
  /* justify-content: space-between; */
}

.nav_item {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}
.searchbar_container {
  border: 1px solid black;
  background-color: white;
}

.header {
  margin-left: 1rem;
}

/* SearchBar*/
.searchbar_inner_container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.error_message {
  color: red;
  margin-left: 1rem;
}
.title_label {
  margin-right: 0.5rem;
}
.search-button {
  margin-left: 0.5rem;
  cursor: pointer;
}


/* All Members*/
.allMembers-main-container {
  display: flex;
  flex-wrap: wrap;
}

/* Single Member*/
.single-member-card {
  background-color: lavender;
  border: solid 1px black;
  border-radius: 2.5%;
  margin: 1rem;
  padding: 1rem;
  width: 25%;
}
.single-member-label {
  font-weight: bold;
}

.single-member-image {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.single-member-arms {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10%;
  background-color: black;
}

/* New Member Form*/
.new-member-form-main-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.new-member-form-inner-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 2rem;
}
.label-container {
  margin-bottom: 0.5rem;
}
.name-container {
  display: flex;
}
.name-container input {
  flex-grow: 1;
}

.name-container label{
  width: 170px;
}

.new-member-form-label {
  margin-right: 1rem;
  font-weight: bold;
}

.submit-button {
  width: 55px;
  margin-top: 1rem;
}

.file-upload-main-container {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

/* Calendar*/
.calendar {
  border: 0;
  width: 800px;
  height: 600px;
}
