body {
  /* background-color: #B9D6F2; */
  /* background-color: #d1e4f6; */
}

/* Main*/
.main-container {
  width: 90%;
  margin: 0 auto;
}
.main-title {
  color: black;
  text-align: center;
}
/* NavBar*/

.nav-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: black;
}

.nav-link-container {
  display: flex;
  /* justify-content: space-between; */
}

.nav-right-link-container {
  align-self: flex-end;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}

.nav-bar-house-arms{
  width: 50px;
  height: 50px;
}

/* Search Bar*/

.searchbar_container {
  border: 1px solid black;
  background-color: white;
}

.header {
  margin-left: 1rem;
}

/* Calendar*/
.calendar-main-container{
 /* background-color: black; */
}

.calendar {
  border: 0;
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
  /* padding: 2rem; */
}

/* Carousel*/
.carousel-main-container {
  height: 700px;
}

.carousel {
  height: 100%;
}

.carousel .slide img {
  width: auto;
  height: 700px;
  vertical-align: top;
  border: 0;
}

/* Gallery*/

.gallery-main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-image {
  height: 200px;
  margin: 1rem;
}

/* Home*/
.home-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-p {
  margin-top: 1rem;
  text-align: center;
}

/* All Members*/
.allMembers-main-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.dreadLord-container {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto */
}
.allMembers-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Single Member*/
.single-member-card {
  background-color: lavender;
  border: solid 1px black;
  border-radius: 2.5%;
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
}
.single-member-card-inner-container {
  margin-left: 2rem;
}
.single-member-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.single-member-data {
  /* margin-left: 1rem; */
  margin-top: 0.25rem;
}

.single-member-image {
  width: 10rem;
  height: 10rem;
  display: block;
  padding: 1rem;
  margin: 0 auto;
}

.single-member-arms {
  width: 150px;
  height: 150px;
  display: block;
  margin: 1rem;
  /* padding: 1rem; */
  /* border-radius: 10%;
  background-color: black; */
}

/* single-member-abb-card */

.single-member-abb-card {
  background-color: rgb(202, 198, 134);
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  border: 2px solid black;
  /* width: 49%; */
}

.single-member-abb-card-inner-container {
  padding-right: 5rem;
}

.link-to-single-member {
  /* background-color: rgb(202, 198, 134); */
  margin-bottom: 1rem;
  /* border: 2px solid black; */
  width: 45%;
  text-decoration: none;
  color: black;
}
/* .single-member-abb-card-inner-container{
  display: flex;
} */

/* New Member Form*/
.new-member-form-main-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.new-member-form-inner-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 2rem;
}

.new-member-form-image-container {
  display: flex;
  margin-bottom: 1rem;
}
.label-container {
  margin-bottom: 0.5rem;
}
.name-container {
  display: flex;
}
.name-container input {
  flex-grow: 1;
}

.name-container label {
  width: 170px;
}

.new-member-form-label {
  margin-right: 1rem;
  font-weight: bold;
}

.select-component {
  width: 7rem;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  width: 55px;
  margin-top: 1rem;
}

.cancel-button {
  width: 55px;
  margin-top: 1rem;
}

.file-upload-main-container {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: fade-out(white, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483638;
}

.modal .modal-body {
  background: white;
  box-shadow: 7px 6px 23px -4px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  max-width: 95vw;
  max-height: 95vh;
}

.modal .modal-header .entity-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  fill: #666;
}

.modal .modal-header p {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #666;
}

.modal-image{
  /* width: 600px; */
  max-height: 600px;
}


/* Footer */
.footer-main-container{
  color: white;
  background-color: black;
  width: 100%;
  /* height: 3rem; */
  padding: 2rem;
  /* display: flex; */
  /* text-align: center; */
  text-align: center;
}
