body {
  /* background-color: #B9D6F2; */
  background-color: #d1e4f6;
}

/* Main*/
.main_container {
  width: 80%;
  margin: 0 auto;
}
.main_title {
  color: black;
  text-align: center;
}
/* NavBar*/

.nav_bar_container {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #0353a4;
}

.nav-link-container {
  display: flex;
  /* justify-content: space-between; */
}

.nav_item {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}
.searchbar_container {
  border: 1px solid black;
  background-color: white;
}

.header {
  margin-left: 1rem;
}

/* Home*/
.home-image-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-p{
  margin-top: 1rem;
}


/* All Members*/
.allMembers-main-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.dreadLord-container{
  /* width: 100%; */
  display:flex;
  justify-content: space-between;
  /* margin: 0 auto */
}
.allMembers-inner-container{
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
/* Single Member*/
.single-member-card {
  background-color: lavender;
  border: solid 1px black;
  border-radius: 2.5%;
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
}
.single-member-card-inner-container{
  margin-left: 2rem;
}
.single-member-label {
  font-weight: bold;
  margin-bottom: .25rem;
}

.single-member-data{
  /* margin-left: 1rem; */
  margin-top: .25rem;
}

.single-member-image {
  width: 10rem;
  height: 10rem;
  display: block;
  padding: 1rem;
  margin: 0 auto;
}

.single-member-arms {
  width: 150px;
  height: 150px;
  display: block;
  margin: 1rem;
  /* padding: 1rem; */
  /* border-radius: 10%;
  background-color: black; */
}


/* single-member-abb-card */

.single-member-abb-card{
  background-color: rgb(202, 198, 134);
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  border: 2px solid black;
  /* width: 49%; */
}

.single-member-abb-card-inner-container{
  padding-right: 5rem;
}

.link-to-single-member{
  /* background-color: rgb(202, 198, 134); */
  margin-bottom: 1rem;
  /* border: 2px solid black; */
  width: 45%;
  text-decoration: none;
  color:black;

}
/* .single-member-abb-card-inner-container{
  display: flex;
} */

/* New Member Form*/
.new-member-form-main-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.new-member-form-inner-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 2rem;
}
.label-container {
  margin-bottom: 0.5rem;
}
.name-container {
  display: flex;
}
.name-container input {
  flex-grow: 1;
}

.name-container label{
  width: 170px;
}

.new-member-form-label {
  margin-right: 1rem;
  font-weight: bold;
}

.select-component{
  width: 7rem;
}

.submit-button {
  width: 55px;
  margin-top: 1rem;
}

.file-upload-main-container {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

/* Calendar*/

.calendar {
  border: 0;
  width: 800px;
  height: 600px;
  display:block;
  margin: 0 auto;
}
